<!DOCTYPE HTML>
{%extends "base.html"%}
{% load staticfiles %}
{%block styles%}

{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}"/>

{%endblock%}

{%block body_block%}
<div class="container img">

<div class="content">
<br><br>
    <h1>HI PLEASE ENTER YOUR INFORMATION,</h1>
    <h2>And We Will Contact You </h2>


<br>
<div class="container">

      <form class="form-group" method="POST">
        <h5>{{form.as_p}}</h5>
        {%csrf_token%}
        <input type="submit" class="btn btn-primary btn-md" value="SUBMIT">

      </form>
</div>


</div>

{%endblock%}
